# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# macOS
.DS_Store

# Env & secrets
.env
.env.*

# Django
*.sqlite3
media/
staticfiles/

# Project venv
venv/

# Misc
.idea/
.vscode/
*.coverage
.coverage*
pytest_cache/
